services:
  garnet:
    build:
      context: .
      dockerfile: src/Pyrope.GarnetServer/Dockerfile
    ports:
      - "3278:3278"
    depends_on:
      - sidecar
    environment:
      - PYROPE_SIDECAR_ENDPOINT=http://sidecar:50051
    networks:
      - pyrope-net

  sidecar:
    build:
      context: .
      dockerfile: src/Pyrope.AISidecar/Dockerfile
    ports:
      - "50051:50051"
    networks:
      - pyrope-net

networks:
  pyrope-net:
    driver: bridge
